doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.js')
    script(src='/javascripts/html2canvas.js')
    script(src='/javascripts/es6-promise.auto.js')
    script(src='/javascripts/axios.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    link(rel="stylesheet" href="https://abs.twimg.com/a/1496201771/css/t1/twitter_core.bundle.css")
    link(rel="stylesheet" href="https://abs.twimg.com/a/1496201771/css/t1/twitter_more_1.bundle.css")
    link(rel="stylesheet" href="https://abs.twimg.com/a/1496201771/css/t1/twitter_more_2.bundle.css")
  body
    block content
